* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
}

@font-face {
  font-family: 'MoolBoran V2';
  src: url("../fonts/MoolBoran V2.eot");
  src: url("../fonts/MoolBoran V2.eot?#iefix") format("embedded-opentype"), url("../fonts/MoolBoran V2.woff") format("woff"), url("../fonts/MoolBoran V2.ttf") format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url("../fonts/SourceSansPro-SemiBold.eot");
  src: url("../fonts/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-SemiBold.woff") format("woff"), url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

body {
  font-family: 'Source Sans Pro Semibold', sans-serif;
  overflow-x: hidden;
}

.navbar {
  background-color: rgba(124, 30, 59, 0.6);
  position: absolute;
  width: 100%;
}

.navbar-straight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 90px;
}

.navbar__mobile {
  text-align: right;
}

.navbar__phone {
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.navbar__email {
  display: block;
  font-size: 20px;
}

.navbar__text {
  text-decoration: none;
  color: #fff;
}

.menu {
  margin-left: 245px;
  width: 650px;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link-text {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.hero {
  background-blend-mode: multiply;
  background-image: url("../img/fon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(28, 29, 35, 0.4);
  padding-top: 235px;
  padding-bottom: 70px;
}

.hero__name {
  font-family: 'MoolBoran V2', sans-serif;
  font-size: 110px;
  color: #fff;
  font-weight: 100;
  padding-left: 230px;
  margin-bottom: 70px;
  margin-top: -60px;
}

.hero__title {
  margin-bottom: 20px;
  font-size: 70px;
  color: #fff;
  font-weight: 900;
  line-height: 65px;
}

.hero__subtitle-list {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  padding-bottom: 30px;
}

.hero__subtitle {
  line-height: 40px;
  font-size: 30px;
  color: #fff;
}

.hero__subtitle-list {
  list-style-type: none;
}

.hero__button {
  border-radius: 10px;
  padding: 15px 40px;
  background: #7E012E;
  color: #fff;
  font-size: 34px;
  text-decoration: none;
  -webkit-box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.logo {
  position: absolute;
  z-index: 10;
  top: 40px;
  width: 190px;
  height: 310px;
  background-image: url("../img/logo.svg");
  background-size: contain;
  background-position: center;
}

.section__dark {
  background-color: #470128;
}

.section__light {
  background-color: #F4E9D1;
}

.triangle {
  position: absolute;
  right: 15%;
  width: 300px;
}

.triangle__form {
  border-left: 400px solid transparent;
  border-right: 400px solid transparent;
  border-top: 170px solid #7E012E;
}

.container__name {
  position: absolute;
  margin-top: 15px;
  right: 10%;
  color: #fff;
  font-size: 35px;
}

.container__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  height: 85px;
  color: #7E012E;
  font-size: 60px;
}

.container__title-name {
  font-family: 'MoolBoran V2', sans-serif;
  font-size: 80px;
  font-weight: 100;
}

.container__text {
  font-size: 30px;
  margin-top: 0;
}

.container__qualities {
  width: 400px;
}

.container__qualities__img {
  width: 102px;
  height: 120px;
}

.container__qualities__text {
  font-size: 30px;
}

.container__faq-name {
  margin: 0;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #7E012E;
  padding-top: 40px;
  padding-bottom: 40px;
}

.container__faq-list {
  width: 570px;
  font-weight: 800;
  margin: 0;
  font-size: 20px;
}

.container__faq-list__item-point {
  padding-bottom: 20px;
  color: #7E012E;
}

.container__faq-list__item-nopoint {
  list-style-type: none;
  padding-bottom: 40px;
}

.container__space {
  width: 100px;
}

.container__review {
  margin-left: 35%;
  width: 720px;
  height: 540px;
}

.container__review__link {
  text-decoration: none;
}

.container__review__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 720px;
  height: 420px;
  margin-top: 220px;
  background: #F4E9D1;
  text-align: center;
}

.container__review__box__avatar {
  position: relative;
  top: -50%;
  left: -15%;
}

.container__review__text {
  position: relative;
  font-size: 30px;
  color: #470128;
  left: -15%;
  text-decoration: none;
}

.container__order__offer__text {
  text-align: center;
  font-size: 35px;
  color: #7E012E;
  font-weight: 900;
  margin-bottom: 35px;
}

.container__order__offer__img {
  width: 500px;
  height: 400px;
}

.container__order__order-form {
  width: 500px;
  height: 523px;
}

.container__order__order-form__block {
  margin-top: 16px;
  background-color: #7E012E;
}

.container__order__order-form__block__name {
  color: #fff;
  font-size: 35px;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

.container__order__order-form__block__form {
  position: relative;
  left: 5%;
}

.container__order__order-form__block__form__input {
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 15px;
  color: #7E012E;
  width: 215px;
  height: 50px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 900;
}

.container__order__order-form__block__form__input__label {
  margin-bottom: 15px;
  margin-right: 15px;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
}

.container__order__order-form__block__form__input::-webkit-input-placeholder {
  color: #7E012E;
  opacity: 0.6;
}

.container__order__order-form__block__form__input:-ms-input-placeholder {
  color: #7E012E;
  opacity: 0.6;
}

.container__order__order-form__block__form__input::-ms-input-placeholder {
  color: #7E012E;
  opacity: 0.6;
}

.container__order__order-form__block__form__input::placeholder {
  color: #7E012E;
  opacity: 0.6;
}

.container__order__order-form__block__form__textarea {
  width: 445px;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #7E012E;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 900;
}

.container__order__order-form__block__form__textarea::-webkit-input-placeholder {
  color: #7E012E;
  opacity: 0.6;
}

.container__order__order-form__block__form__textarea:-ms-input-placeholder {
  color: #7E012E;
  opacity: 0.6;
}

.container__order__order-form__block__form__textarea::-ms-input-placeholder {
  color: #7E012E;
  opacity: 0.6;
}

.container__order__order-form__block__form__textarea::placeholder {
  color: #7E012E;
  opacity: 0.6;
}

.check__label {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  margin-right: 10px;
}

.check {
  display: none;
}

.check + .trap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/buttons/cb1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.check:checked + .trap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/buttons/cb2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.checkbox-text {
  position: relative;
  display: inline-block;
  color: #fff;
  top: -20px;
  margin-right: 65px;
  cursor: pointer;
  font-size: 22px;
}

.form__submit__button {
  border-radius: 10px;
  padding: 15px 40px;
  background: #7E012E;
  color: #fff;
  font-size: 34px;
  margin-top: 25px;
  margin-left: 90px;
}

.container-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.container-figure__list {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-figure__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
  padding-top: 60px;
}

.blk-gallery {
  padding-bottom: 170px;
}

.chous {
  border-radius: 4px;
  width: 445px;
  text-align: center;
  cursor: pointer;
  display: block;
  padding: 20px 25px;
  color: #7E012E;
  background-color: #fff;
  font-size: 20px;
  font-weight: 900;
}

.chous:hover {
  color: #fff;
  background-position: bottom left;
  background-color: #470128;
  border: 1px solid #fff;
}

.my {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.gallery-container {
  width: 100%;
  height: 400px;
  position: relative;
  top: 140px;
}

.gallery-wrapper {
  width: 350px;
  height: auto;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}

.gallery-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border: 10px solid #F4E9D1;
  -webkit-box-shadow: 0px 10px 20px rgba(244, 233, 209, 0.8);
          box-shadow: 0px 10px 20px rgba(244, 233, 209, 0.8);
  cursor: pointer;
}

.gallery-wrapper img.gallery-transition {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gallery-wrapper img {
  display: block;
}

.gallery-wrapper img.gallery-center div {
  display: block;
}

.gallery-container nav {
  width: 58px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -29px;
}

.gallery-container nav span {
  text-indent: -9000px;
  float: left;
  cursor: pointer;
  width: 24px;
  height: 25px;
  opacity: 0.8;
  background: transparent url(../img/arrows.png) no-repeat top left;
}

.gallery-container nav span:hover {
  opacity: 1;
}

.gallery-container nav span.gallery-next {
  background-position: top right;
  margin-left: 10px;
}

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  z-index: 11;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 12;
  height: 100%;
  width: 100%;
}

.popup_img {
  position: relative;
  margin: 0 auto;
  z-index: 13;
  max-height: 94%;
  max-width: 94%;
  margin: 1% 0 0 0;
}
/*# sourceMappingURL=style.css.map */