* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: auto;
}

@font-face {
  font-family: 'MoolBoran V2';
  src: url("../fonts/MoolBoran V2.eot");
  src: url("../fonts/MoolBoran V2.eot?#iefix") format("embedded-opentype"), url("../fonts/MoolBoran V2.woff") format("woff"), url("../fonts/MoolBoran V2.ttf") format("truetype");
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url("../fonts/SourceSansPro-SemiBold.eot");
  src: url("../fonts/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-SemiBold.woff") format("woff"), url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Source Sans Pro Semibold', sans-serif;
}

.navbar-straight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.navbar__mobile {
  text-align: right;
}

.navbar__phone {
  display: block;
  font-size: 19px;
  margin-bottom: 5px;
  text-decoration: none;
}

.navbar__email {
  display: block;
  font-style: 14px;
  text-decoration: none;
}

.menu {
  margin-left: 265px;
  width: 650px;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link-text {
  text-decoration: none;
}

.logo {
  position: absolute;
  z-index: 10;
  top: 40px;
  left: 100px;
  width: 235px;
  height: 370px;
  border: 3px solid black;
}

.logo__img {
  position: relative;
  width: 235px;
  height: 370px;
}

.hero {
  background-blend-mode: multiply;
  background-image: url("../img/fon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(28, 29, 35, 0.4);
  padding-top: 345px;
  padding-bottom: 70px;
}

.hero__title {
  color: #fff;
}

.hero__subtitle {
  color: #fff;
}

.hero__subtitle-list {
  list-style-type: none;
}

.gallery-container {
  width: 100%;
  height: 400px;
  position: relative;
}

.gallery-wrapper {
  width: 350px;
  height: auto;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}

.gallery-wrapper img {
  width: 100%;
  height: auto;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.gallery-wrapper img.gallery-transition {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.gallery-wrapper img {
  display: block;
}

.gallery-wrapper img.gallery-center div {
  display: block;
}

.gallery-container nav {
  width: 58px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -29px;
}

.gallery-container nav span {
  text-indent: -9000px;
  float: left;
  cursor: pointer;
  width: 24px;
  height: 25px;
  opacity: 0.8;
  background: transparent url(../img/arrows.png) no-repeat top left;
}

.gallery-container nav span:hover {
  opacity: 1;
}

.gallery-container nav span.gallery-next {
  background-position: top right;
  margin-left: 10px;
}

.popup {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  z-index: 11;
}

.popup_bg {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 12;
  height: 100%;
  width: 100%;
}

.popup_img {
  position: relative;
  margin: 0 auto;
  z-index: 13;
  max-height: 94%;
  max-width: 94%;
  margin: 1% 0 0 0;
}
/*# sourceMappingURL=style.css.map */