@font-face {
  font-family: 'MoolBoran V2';
  src: url('../fonts/MoolBoran V2.eot');
  src: url('../fonts/MoolBoran V2.eot?#iefix') format("embedded-opentype"),
    url('../fonts/MoolBoran V2.woff') format("woff"),
    url('../fonts/MoolBoran V2.ttf') format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../fonts/SourceSansPro-SemiBold.eot');
  src: url('../fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SourceSansPro-SemiBold.woff') format('woff'),
    url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@mixin mainname {
  font-family: 'MoolBoran V2', sans-serif;
}

@mixin alltext {
  font-family: 'Source Sans Pro Semibold', sans-serif;
}