.gallery
  background-color: $light-wine
  padding-top: 40px
  &__title
    color: $white

.swiper-container
  padding-top: 50px
  padding-bottom: 50px
  width: 100%
.swiper-wrapper
  align-items: center
.swiper-slide
  display: flex
  justify-content: center
  align-items: center
  max-width: 300px
  img
    display: block
.swiper-button-prev
  background-image: url('../img/gallery/back.svg')
.swiper-button-next
  background-image: url('../img/gallery/next.svg')