.order
  position: relative
  padding-top: 40px
  padding-bottom: 40px
  background-color: $light-color
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &-offer
    flex-basis: 45%
    &__title
      margin: auto
      color: $light-wine
      max-width: 270px
      font-weight: 100
      margin-bottom: 15px
    &__img
      max-width: 500px
  &-form
    flex-basis: 45%
    &__title
      margin: 0
      margin-bottom: 10px
      color: $white
    &__block
      display: flex
      flex-direction: column
      background-color: $light-wine
      margin-bottom: 15px
      padding: 20px
      border-radius: 10px
    &__wrapper
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      margin: auto
      max-width: 450px
    &__input
      display: inline-block
      color: $light-wine
      width: 49%
      margin-bottom: 10px
      padding: 15px 10px
      padding-right: 0
      font-size: 20px
      border-radius: 5px
      border: 2px solid $dark-color
      &::placeholder
        color: rgba($light-wine, 0.6)
      &:focus
        border: 2px solid $light-color
    &__count
      margin-bottom: 0
    &__valid
      width: 100%
    &__btn
      display: block
      border: none
      margin: auto
      background-color: $light-wine
      padding: 10px 25px
      font-size: 25px
      cursor: pointer
    &__counter
      width: 100%
      display: flex
      align-items: center
      margin-bottom: 10px
    &__caption
      display: block
      width: 50%
      color: $white
      font-size: 20px
      margin-left: 10px
    &__message
      width: 100%
      border-radius: 5px
      color: $light-wine
      font-size: 20px
      padding: 5px 10px
      padding-right: 0
      border: 2px solid $dark-color
      &::placeholder
        color: rgba($light-wine, 0.6)
      &:focus
        border: 2px solid $light-color
    &__addbtn
      background-color: $white
      color: $light-wine
      padding: 15px
      width: 100%
      text-align: center
      border-radius: 5px
      margin-bottom: 10px
      font-size: 20px
      cursor: pointer
    &__addon
      width: 0.1px
      height: 0.1px
      opacity: 0
      overflow: hidden
      position: absolute
      z-index: -1
@media (min-width: 992px)
  .order
    &-form
      &__block
        &:hover
          box-shadow: 0 0 10px rgba(black, 0.8)
      &__addbtn
        &:hover
          background-color: $dark-color
          color: $white
      &__btn
        &:hover
          box-shadow: 0 0 10px rgba($dark-color, 0.8)
@media (max-width: 1200px)
  .order
    &-form
      &__count
        width: 40%
@media (max-width: 992px)
  .order
    &-block
      flex-direction: column
    &-offer
      flex-basis: 100%
      margin-bottom: 15px
    &-form
      flex-basis: 100%
      &__count
        width: 50%
@media (max-width: 768px)
  .order
    padding-top: 20px
    padding-bottom: 20px
    &-form
      &__input
        width: 100%
      &__count
        width: 50%
      &__btn
        width: 100%
        font-size: 20px
@media (max-width: 630px)
  .order
    &-offer
      &__title
        max-width: 250px
    &-form
      &__input
        font-size: 16px
      &__caption
        font-size: 18px
      &__addbtn
        font-size: 18px
      &__message
        font-size: 18px
@media (max-width: 375px)
  .order
    &-form
      &__block
        padding: 5px
        padding-bottom: 10px
