.hero
  background-blend-mode: multiply
  background-image: url('../img/fon.jpg')
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  background-color: rgba(28, 29, 35, 0.4)
  padding-top: 345px
  padding-bottom: 70px
  &__title
    color: $light-text
  &__subtitle
    color: $light-text
    &-list
      list-style-type: none