.navbar
  &-straight
    display: flex
    align-items: center
    justify-content: space-between
    min-height: 80px
  &__mobile
    text-align: right
  &__phone
    display: block
    font-size: 19px
    margin-bottom: 5px
    text-decoration: none
  &__email
    display: block
    font-style: 14px
    text-decoration: none
.menu
  margin-left: 265px
  width: 650px
  &__link
    display: flex
    align-items: center
    justify-content: space-between
    &-text
      text-decoration: none
    
.logo
  position: absolute
  top: 40px
  left: 150px
  width: 200px
  height: 350px
  border: 1px solid black
  &__img