.section
  &__dark
    background-color: $dark-color
.triangle
  position: absolute
  right: 10%
  width: 300px
  
  &__form
	  border-left: 300px solid transparent
	  border-right: 300px solid transparent
	  border-top: 150px solid $light-wine
.container
  &__name
    position: absolute
    margin-top: 15px
    right: 11%
    color: $light-text
    font-size: 35px

.blk-gallery
  padding-bottom: 170px
