.section
  &__dark
    background-color: $dark-color
  &__light
    background-color: $light-color
.triangle
  position: absolute
  right: 15%
  width: 300px
  &__form
	  border-left: 400px solid transparent
	  border-right: 400px solid transparent
	  border-top: 170px solid $light-wine
.container
  &__name
    position: absolute
    margin-top: 15px
    right: 11%
    color: $light-text
    font-size: 35px
  &__title
    margin-top: 0
    margin-bottom: 0
    padding-top: 15px
    height: 85px
    color: $light-wine
    font-size: 60px
    &-name
      +mainname
      font-size: 80px
      font-weight: 100
  &__text
    font-size: 30px
    margin-top: 0
  &__qualities
    width: 400px
    &__img
      width: 102px
      height: 120px
    &__text
      font-size: 30px

.container-figure
  display: flex
  align-items: center
  text-align: center
  justify-content: space-between
  padding-bottom: 15px


.blk-gallery
  padding-bottom: 170px
